<!DOCTYPE html>
{% extends 'rango/base.html' %}
{% load staticfiles %}
{% block title_block %} 
    Rate My Soc - Home 
{% endblock %}


{% block body_block %}
    <h1>Rate My Society says...</h1>
    <div>
        {% if user.is_authenticated %}
             howdy {{ user.username }}!
        {% else %}
        Rate My Society says hey there partner!
        {% endif %}
    </div>
    <div>
        <a href="{% url 'rango:about' %}">About</a><br />
    </div>
    <div>
        <a href="{% url 'rango:society_list' %}">Societies</a><br />
    </div>
    <div>
        <a href="{% url 'rango:category_list' %}">Categories</a><br />
    </div>
    <div>
        <a href="{% url 'rango:top_societies' %}">Top Societies</a>
    </div>

{% endblock %}
